#root {
    /* height: 100vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* for tabs */
@media (max-width: 991px) { 
    #root {
        height: auto; 
        padding: 20px;
    }
}

@media (max-width: 767px) {
    #root {
        height: auto; 
        padding: 15px;
        flex-direction: column; 
    }
}

@media (max-width: 576px) {
    #root {
        height: auto; 
        padding: 10px;
        font-size: 14px;
    }
}